<div>
  <p-table #dt
           [columns]="columns"
           [value]="addresses"
           [paginator]="true"
           [totalRecords]="totalRecords"
           [showCurrentPageReport]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [rowsPerPageOptions]="[10,20,40]"
           [rows]="10"
           [lazy]="true"
           [loading]="loading"
           editMode="row"
           dataKey="Id"
           (onLazyLoad)="loadData($event)">
    <ng-template pTemplate="header" let-columns>
      <!-- column headers -->
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th style="width:10rem"></th>
      </tr>
      <!-- filters -->
      <tr>
        <th *ngFor="let col of columns">
          <p-columnFilter type="text" [field]="col.field" [matchModeOptions]="matchModeOptions" [matchMode]="'custom-equals'"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-address let-editing="editing" let-ri="rowIndex" let-columns="columns">
      <!-- data -->
      <tr [pEditableRow]="address">
        <td  *ngFor="let col of columns" >
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="address[col.field]">
            </ng-template>
            <ng-template pTemplate="output">
              {{address[col.field]}}
            </ng-template>
          </p-cellEditor>
        </td>

        <!-- Edith buttons -->
        <td style="text-align:center">
          <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow title="Edit" icon="pi pi-pencil" (click)="onRowEditInit(address)" class="p-button-rounded p-button-text"></button>
          <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow title="Save to server" icon="pi pi-cloud-upload" (click)="onRowEditSaveServer(address, ri)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
          <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow title="Save" icon="pi pi-check" (click)="onRowEditSave(address, ri)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
          <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow title="Cancel" icon="pi pi-times" (click)="onRowEditCancel(address, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
        </td>

      </tr>
    </ng-template>
  </p-table>
</div>
